---

---

@import "minima";

$primary-color: #333f48;
$primary-link-color: #667099;
$secondary-link-color: #996699;
$primary-tint-color: #EFFBFB;

body {
	font-family: myriad-pro-1, myriad-pro-2,sans-serif;
	margin: 0 2em;
	font-size: 110%;
}

h1 {
	font-weight: 300;
}

article {
 margin-bottom: 20px;
}

.container {
	margin-bottom: 30px;
}

.site-header {
	margin-top: 15px;
	border: none;
}

.item {display: inline;}

.top {margin-top: 20px;}

.right {margin-right: 20px;}

.bottom {margin-bottom: 30px;}

.left {margin-left: 20px;}


a.page-link {
	color: $primary-link-color !important;
	text-decoration: none;
}

a.page-link:hover {
	color: $secondary-link-color !important;
	text-decoration: underline;
}

a:hover.page-link {
	color: $secondary-link-color !important;
	text-decoration: underline;
}

li.p-name {
	display: none;
}

.grid a:hover {
	opacity: 85%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}